
 @import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 15px 0;
    position: relative;
}
.home ul li{
    width: 17px;
    list-style: none;
    display: flex;
    gap: 11px;
    padding-top: 22px;
    font-weight: 500;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 22px;
    font-weight: 500;
    align-items: center;
    font-size: 19px;
}
.heading img{
    width: 25px;
}
.library{
    max-height: 80vh;
    min-height: 80vh;
}
.songList{
    overflow: auto;
    max-height: 73vh;
    margin-top: 14px;
}
.songList ul{
    padding: 0 12px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 20px 0px;
    padding: 4px 12px;
    border-radius: 8px;
    /* border: 1px solid white; */
}
.songList ul li:hover{
    background-color: #252525;
}
.songList img{
    height: 30px;
}
.hamburger{
    display: none;
}
.footer{
    display: flex;
    font-size: 13px;
    gap: 8px;
    bottom: 12px;
    position: absolute;
    padding: 7px;
    flex-wrap: wrap;
}
.footer a{
    color: grey;
}
.hamburger-flex{
    margin-top: 7px;
}
.hamburger-flex > svg{
    display: none;    
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34); 
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header > *{
    padding: 20px;
}
.buttons > *{
    margin: 0 12px;
}
.signupbtn{
    background-color: black;
    color: rgb(177, 176, 176);
    font-weight: bold;
    font-family: "Afacad Flux", sans-serif;
    background-color: rgb(34, 34, 34);
    border: none;
    outline: none;
    font-size: 15px;
}
.signupbtn:hover{
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.loginbtn{
    background-color: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Afacad Flux", sans-serif;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 21px;
    font-size: 17px;
    width: 82px;
    cursor: pointer;
}
.loginbtn:hover{
    padding: 10px;
    border-radius: 21px;
    font-size: 18px;
    width: 0px 83px;
    font-weight: bold;
}
.cardContainer{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
    margin: 24px;
    overflow-y: auto;
    max-height: 66vh;
}
.spotifyPlaylists{
    padding: 16px;
}
.spotifyPlaylists h1{
    margin: 15px;
}
.spotifyPlaylists .card{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.spotifyPlaylists .card:hover{
    background-color: #252525;
    cursor: pointer;
}
.card > *{
    padding-top: 6px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
}
.play{
    position: absolute;
    top: 220px;
    right: 14px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.play > svg{
    border-radius: 200px;
    box-shadow: 0 5px 5px rgb(0 0 0);
}
.card:hover .play{
    opacity: 1;
    top: 157px;
}
.playbar{
    position: fixed;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.411);
    width: 73vw;
    padding: 12px;
    border-radius: 12px;
    height: 37px;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.songbuttons img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.seekbar{
    height: 1px;
    width: 98%;
    border: 2px solid white;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 6px;
    left: -4px;
    transition: left 0.5s;
}
#play{
    height: 24px;
    width: 24px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 18px;
}
.songinfo{
    position: relative;
    bottom: 10px;
    width: 300px;
    height: 42px;
    display: flex;
    align-items: center;
}
.close img{
    position: absolute;
    right: 15px;
    top: 15px;
    height: 23px;
    width: 23px;
    background-color: white;
}
.right-bar{
    display: flex;
    width: 284px;
    gap: 30px;
}
.volume{
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 132px;
    align-items: center;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}
@media (max-width:1050px) {
    .left{
        background-color: black;
        position: absolute;
        left: -110%;
        transition: all 0.65s;
        z-index: 1;
        width: 97%;
        height: 98%;
        padding: 6px;
    }
    .footer{
        display: none;
    }
    .hamburger{
        display: block;
        height: 30px;
        width: 30px;
    }
    .hamburger-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .right{
        width: 100vw;
        margin: 0;
    }
    .playbar{
        width: 94vw;
    }
    .seekbar{
        width: 94%;
    }
    .spotifyPlaylists .card{
        width: 140px;
        font-size: 11.4px;
        padding: 5px;
    }
    .cardContainer{
        margin: 15px;
        max-height: 68.8vh;
    }
    .card .play{
        display: none;
    }
    .card > *{
        padding-top: 0;
    }
    .spotifyPlaylists h1{
        font-size: 25px;
    }
    .abovebar{
        align-items: start;
    }
    .songinfo{
        width: 145px;
    }
    .right-bar{
        width: 102px;
    }
    .volume{
        display: none;
    }
}
@media (max-width: 375px){
    .songinfo{
        width: 125px;
    }
    .spotifyPlaylists .card{
        width: 127px;
    }
    .cardContainer{
        max-height: 60vh;
    }
    
}