.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.left-right-arrow{
    height: 18px;
    width: 28px;
}
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    border-radius: 10px; /* Overall scrollbar rounding */
}

::-webkit-scrollbar-track {
    background-color: #0f0f0f; /* Deep black background for the track */
    border-radius: 10px; /* Rounded scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #00ff00; /* Bright green for the thumb (scroll handle) */
    border-radius: 10px; /* Rounded thumb */
    border: 2px solid #0f0f0f; /* Black border to give the thumb some separation */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00cc00; /* Slightly darker green on hover */
}

.play #font-title{
    font-size: 15px;
}
.play #font-subtitle{
    font-size: 10px;
}